body {
    padding-top: 0px;
}

.principal {
    padding: 40px 15px;
    text-align: center;
}

#coluna-experimento {
  column-width: 20%;
}
.icones {
  vertical-align: middle;

}

.botoes-tabela-exibicao {
  vertical-align: middle;
}

.card-especial {
  border-color: darkred;
}